<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin : Update Client Account</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/Add_User.css}" />
</head>

<body>
	<div class="form-modal-card">
		<div class="form-modal-header">
			<div class="form-modal-icon"><i class="fa-solid fa-user-pen"></i></div>
			<h2 class="form-modal-title">Update Client Account</h2>
		</div>

		<div class="form-modal-body">
			<form th:action="@{'/updatingUser/' + ${user.u_id}}" method="get" th:object="${user}">
				<div class="form-group">
					<label>Client Name / Organization</label>
					<input type="text" name="uname" th:value="${user.uname}" required />
				</div>

				<div class="form-group">
					<label>Corporate Email</label>
					<input type="email" name="uemail" th:value="${user.uemail}" required />
				</div>

				<div class="form-group">
					<label>Phone Number</label>
					<input type="tel" name="unumber" th:value="${user.unumber}" pattern="[0-9]{10}" required />
				</div>

				<input type="hidden" name="upassword" th:value="${user.upassword}" />

				<div class="btn-group">
					<a th:href="@{/admin/services}" class="btn-cancel-form">Cancel</a>
					<button type="submit" class="btn-submit-form">
						<i class="fa-solid fa-check"></i> Update Client Record
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>